 .u-section-1 {
  background-image: url("images/automachamada.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-group-1 {
  width: 482px;
  min-height: 613px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 39px auto 0 0;
  padding: 20px 52px 20px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-text-2 {
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-slider-1 {
  width: 1020px;
  min-height: 512px;
  margin: 98px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-1 {
  width: 523px;
  height: 446px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 3px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -403px 563px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 40px 563px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 60px;
}

.u-section-2 .u-image-2 {
  width: 500px;
  height: 457px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 5px 0 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  margin: -391px 540px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 40px 540px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 53px;
}

.u-section-2 .u-image-3 {
  width: 500px;
  height: 452px;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 5px 8px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  margin: -408px 547px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  font-size: 1rem;
  margin: 32px 547px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 48px;
  height: 48px;
  background-image: none;
  inset: auto auto 44px 60px;
  position: absolute;
  padding: 12px;
}

.u-section-2 .u-carousel-control-2 {
  width: 48px;
  height: 48px;
  background-image: none;
  inset: auto auto 44px 128px;
  position: absolute;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 561px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 38px;
    margin-right: 561px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -396px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 540px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 23px 0;
  }

  .u-section-2 .u-image-1 {
    width: 401px;
    height: 456px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -408px;
    margin-right: 406px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 406px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    width: 389px;
    height: 490px;
    margin-top: 11px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -412px;
    margin-right: 408px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 408px;
    margin-left: 28px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-image-3 {
    width: 360px;
    height: 498px;
    object-position: 34.97% 50%;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -433px;
    margin-right: 408px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 408px;
    margin-left: 28px;
  }

  .u-section-2 .u-carousel-control-1 {
    inset: auto auto 47.6875px 24px;
  }

  .u-section-2 .u-carousel-control-2 {
    inset: auto auto 47.6875px 92px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-slider-1 {
    width: 540px;
    min-height: 509px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 357px;
    margin-top: 143px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: 317px;
    margin-top: -482px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 319px;
    margin-top: 179px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 355px;
    margin-top: -487px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 12px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 504px;
    height: 280px;
    margin-top: 181px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: 370px;
    margin-top: -461px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-carousel-control-1 {
    inset: auto auto 43.6875px 9px;
  }

  .u-section-2 .u-carousel-control-2 {
    inset: auto auto 43.6875px 75px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 427px;
    margin-top: 60px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 207px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -337px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 313px;
    height: 241px;
    margin-top: 178px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-top: -400px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    width: 322px;
    height: 220px;
    margin-top: 205px;
  }

  .u-section-2 .u-text-5 {
    width: 320px;
    margin-top: -425px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) 0px 0px  rgba(var(--rgba(var(---r),var(---g),var(---b),0)-r),var(--rgba(var(---r),var(---g),var(---b),0)-g),var(--rgba(var(---r),var(---g),var(---b),0)-b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-image-3 {
  border-color: transparent !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) 0px 0px  rgba(var(--rgba(var(---r),var(---g),var(---b),0)-r),var(--rgba(var(---r),var(---g),var(---b),0)-g),var(--rgba(var(---r),var(---g),var(---b),0)-b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-image-3 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}